
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Güle Güle Yine Bekleriz... </h2>

<head>
    <meta http-equiv="refresh" content="2;url=Login" /> @*Çıkış yapıldıktan 2 sn sonra Login sayfasına yönlendirir*@
</head>
